.usuarios-screen-container {
  margin: 0 3rem;
  margin-top: 1.5rem;
}

.usuarios-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-usuarios {
  margin-bottom: 0.25rem;
}

.subtitulo-usuarios {
  margin-bottom: 0;
}

.btn-outline-purple:hover {
  background-color: var(--bs-indigo);
  color: white;
}
